footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    background-color: #290d2d;
    color: white;
}
.mid-foot{
    display: flex;
    justify-content: center;
}
.mid-foot> div{
    margin: 0 10px;
}
footer> p{
    margin: 0 10px;
}